<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous"> <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách người dùng:</title>
</head>
<body>
   <div style="margin: 30px;">
    <div style="display: flex; justify-content: space-between; align-items: center; ">
         <h2>Danh sách người dùng:</h2>
    <a class="btn btn-warning" href="/create-user">Tạo mới người dùng</a>
    </div>
    <hr>
    <div class="mt-4">
        <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Hành động</th>
            </tr>
        </thead>
       <tbody>
  <% users.forEach(function(user) { %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.fullName %></td>
      <td><%= user.username %></td>
      <td><%= user.address %></td>
      <td>
        <div style="display: flex; gap: 10px;">
          <form action="/handle-view-user/<%= user.id %>" method="GET">
          <button type="submit" class="btn btn-warning">view</button>
        </form>
         <form action="/handle-update-user/<%= user.id %>" method="GET">
          <button type="submit" class="btn btn-primary">update</button>
        </form>
        <form action="/handle-delete-user/<%= user.id %>" method="POST">
          <button type="submit" class="btn btn-danger">delete</button>
        </form>
        
        </div>
      </td>
    </tr>
  <% }) %>
</tbody>

    </table>
    </div>
   </div>
   
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</html>
